extends layout


block content
  h1= title + " - название третего приложения"
  h2= "Файлы в текущей директории:"
  div.flex-container(id="files")        
  h2= "Папки в текущей директории:"
  div.flex-container(id="dirs")     