extends layout


block content
  h1= title + " - название третьего приложения"        
  h2= "Папки в текущей директории:"
  div.flex-container(id="dirs")
  h2= "Файлы в текущей директории:"
  div.flex-container(id="files")      