doctype html
html(lang="en")
  head
    title= "Explorer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/txt.js")
    script(src="/javascripts/dir.js")        
  body
    block content
