doctype html
html(lang="en")
  head
    title= "Explorer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/dir.js")
    script(src="/javascripts/openTxt.js")
    script(src="/javascripts/back.js")  
  body
    block content
