doctype html
html(lang="en")
  head
    title= "Explorer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/opentxt.js")       
  body   
    h1= "Вот текстовый документ: "     
        