doctype html
html(lang="en")
  head
    title= "Explorer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/back.js")  body  
    button(type="button" alt="clickMe" onclick="back()" ) Вернуться назад 
    h1= "Вот текстовый документ: "  
    pre=fileName
   
        