doctype html
html(lang="en")
  head
    title= "Explorer"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body   
    h1= "Вот текстовый документ: "  
    pre=fileName
    #menu
    a(href="/", title="Move Back") Move Back

        